body {
	font-family : Arial;
	background-color: whitesmoke;
	margin: 0px;
	padding: 0px;
}

header {
	position: fixed;
	top: 0;
	z-index: 5;
	width: 100%;
	background-color: grey;
	/* border-bottom: #566573 solid 1px; */
}

nav {
	display:flex;
	flex-direction: row;
}
nav a {
	text-decoration: none;
	display:block;
	padding: 15px 25px;
	text-align: center;
	background-color: rgb(213, 216, 220);
	color:#262d33;
}
nav a:hover, .dropdown:hover, .dropdown-weather:hover {
	background-color: #566573;
	color:#ffffff;
}
.dropdown {
	float: left;
	overflow: hidden;
	font-size: 16px;
	background-color: rgb(213, 216, 220);
	cursor: pointer;
	min-width: 140px;
}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: 140px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #566573;
	color:#ffffff;
}

.dropdown:hover .dropdown-content {
  	display: block;	
}


.dropdown-weather {
	padding: 15px;
	text-align: center;
	min-width: 50px;
    color: white;
	cursor: pointer;
}
.weather-block {
	display: none;
	position: absolute;
	width: 240px;
	height: 200px;
	background-color: white;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	cursor: default;
}
.dropdown-weather:hover .weather-block {
	display: block;	
	color: black;
}
.weather-content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container {
	flex-direction: column;
	max-width: 1200px;
	margin: auto;
}

h1 {
	margin: 5px;
	text-align: center;
	padding-top: 50px;
}

table {
	margin: 0 auto;
	width: 100%;
}
td, th {
	text-align: center;
	padding: 10px;
}
th {
	background-color: #a5f2c1;
}
th.sticky {
	position: sticky;
	top: 0;
}
tr:not(:first-child):hover {
	background-color: khaki;
}

.current-table {
	border: 1px solid lightblue;
	border-radius: 10px;
	font-size: 24px; 
	margin-bottom: 20px;
	height: 100px;
}
.current-table-td {
	padding: 15px;
}

.db-table-container {
	border: 3px solid lightblue;
	border-radius: 10px;
	font-size: 20px; 
	width: 100%;
	overflow: auto;
    height: 500px;
}

.navigator-block {
	display: flex;
	overflow: auto;
	align-items: center;
	text-align: center;
	
}
.navigator-label {
	font-size: 18px;
	margin-right: 10px;
}
.navigator-item {
	padding: 10px;
	cursor: pointer;
	background-color: darkgray;
	margin: 5px 1px;
	border-radius: 3px;
	color: #000;
}
.navigator-item:hover {
	background-color: gray;
}
.navigator-item.selected {
	background-color: green;
}

.chart-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between; 
}
canvas { 
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.chart-label {
	margin: 5px;
	font-size: 24;
}
.chart-container {
	border: lightblue 2px solid;
	border-radius: 10px;
	text-align: center;
	width: 45%;
	margin: 20px auto;
	align-items: center;
	padding: 10px;
	transition: width 800ms;
}
.chart-container.large {
	width: 90%;
	margin: 20px auto;
}
.chart-container:hover {
	background-color: beige;
}

