body {
	font-family : Arial;
	background-color: lightgrey;
}

.container {
	flex-direction: column;
	max-width: 1200px;
	margin: auto;
	padding: 8px;
	background-color: whitesmoke;
}

h1 {
	margin: 10px;
	text-align: center;
}

table {
	margin: 0 auto;
	width: 100%;
}
td, th {
	text-align: center;
	padding: 10px;
}
th {
	background-color: #a5f2c1;
	position: sticky;
	top: 0;
}
tr:not(:first-child):hover {
	background-color: khaki;
}

.current-table {
	border: 1px solid lightblue;
	border-radius: 10px;
	font-size: 24px; 
	margin-bottom: 20px;
	height: 100px;
}
.current-table-td {
	padding: 15px;
}

.db-table-container {
	border: 3px solid lightblue;
	border-radius: 10px;
	font-size: 20px; 
	width: 100%;
	overflow: auto;
    height: 500px;
}

.navigator-block {
	display: flex;
	overflow: auto;
}
.navigator-item {
	padding: 10px;
	cursor: pointer;
	background-color: darkgray;
	margin: 5px 1px;
}
.navigator-item:hover {
	background-color: gray;
}
.navigator-item.selected {
	background-color: green;
}

.chart-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between; 
}
canvas { 
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.chart-label {
	margin: 5px;
	font-size: 24;
}
.chart-container {
	border: lightblue 2px solid;
	border-radius: 10px;
	text-align: center;
	width: 45%;
	margin: 20px auto;
	align-items: center;
	padding: 10px;
}
.chart-container.large {
	width: 90%;
	margin: 20px auto;
}

