body {
	font-family : Arial;
}

.container {
	flex-direction: column;
	max-width: 1200px;
	margin: auto;
	padding: 8px;
}

h1 {
	margin: 10px;
	text-align: center;
}

table {
	margin: 0 auto;
	width: 100%;
}
td, th {
	text-align: center;
	padding: 10px;
}
th {
	background-color: #a5f2c1;
	position: sticky;
	top: 0;
}
tr:not(:first-child):hover {
	background-color: khaki;
}

.current-table {
	border: 1px solid lightblue;
	font-size: 24px; 
	margin-bottom: 20px;
}
.current-table-td {
	padding: 15px;
}

.db-table-container {
	border: 1px solid black;
	font-size: 20px; 
	width: 100%;
	overflow: auto;
    max-height: 500px;
}

.navigator-block {
	display: flex;
}
.navigator-item {
	padding: 10px;
	cursor: pointer;
	background-color: darkgray;
	margin: 5px 1px;
}
.navigator-item:hover {
	background-color: gray;
}
.navigator-item.selected {
	background-color: darkslategray;
}

canvas { 
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.chart-container {
	width: 800px;
	margin-left: 40px;
	margin-right: 40px;
}